.rc-directory {

	&-header {
		display: flex;
	}


	/* TODO: -plus and -search should be "globals" */

	&-plus {
		width: 36px;
		min-width: 36px;
		height: 36px;
		min-height: 36px;
		padding: 0;
	}
	&-search {
		max-width: 230px;
	}

	&-selector,
	&-search,
	&-plus {
		margin: 0 0.5rem;
	}
}

.rc-directory-header .rc-input__wrapper {
	padding: 0;
}

.rc-directory-channel {
	&-wrapper {
		display: flex;
		align-items: center;
		margin: 0 -9px;
	}

	&-avatar {
		width: 60px;
		height: 60px;
		margin: 0 9px;

		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
	}

	&-info {
		display: flex;
		margin: 0 9px;
		flex-direction: column;
		width: 100%;
	}

	&-name {
		font-size: 1rem;
		font-weight: 500;
	}

	&-description {
		margin-top: 0.625rem;
		color: var(--rc-color-primary-light);
		overflow: hidden;
    text-overflow: ellipsis;
		max-width: 200px;
	}

	&-createdAt {
		text-transform: capitalize;
	}
}

.rc-directory-content {
	width: 100%;
	overflow-x: auto;

	& .js-sort {
		cursor: pointer;
	}
}

.rc-directory-banner {
	width: 100%;

	margin: auto;

	padding: 3px 0;

	text-align: center;

	background-color: var(--rc-color-alert);

	box-shadow: 0 1px 2px 0 rgba(31, 35, 41, 0.08);

	font-family: inherit;

	font-size: inherit;

	font-weight: lighter;

	font-style: oblique;


}

@media (width <= 500px) {
	.rc-directory-content .rc-table-head {
		display: none;
	}

	.rc-directory {
		&-selector,
		&-search,
		&-plus {
			padding: 0 0.3rem;
		}
	}
}
