#sidebar-item-popup {
	position: absolute;
	padding: 10px;
	width: 300px;
	z-index: 1000;
	background-color: var(--sidebar-background);
	color: #fff;
	overflow: auto;
	display: flex;
	flex-direction: column;

	& .flex-grow {
		flex: 1 1 auto;
	}

	& a {
		color: #fff;
  	}

	& h3 {
		margin-bottom: 15px;
  	}

	& .highlight {
	  font-weight: bold;
  	}
}
